:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p,h6,h4,h5{
    margin: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue-main);
}
.margin-top-bottom{
    margin: 18px 0;
}
.card{
    width: 375px;
    margin: 20px auto;
    background-color: var(--very-dark-blue-card);
    padding: 20px;
    border-radius: 15px;
}

.image-container{
    background:url('./images/image-equilibrium.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
}
#icon-view-container{
    width: 100%;
    height: 100%;
}
#icon-view-container:hover{
    background-color: var(--cyan);
    opacity: .65;
    z-index: 10;
    cursor: pointer;
}
div .icon-view-image{
    position: relative;
    top:40%;
    left:44%;
    z-index: -10;
}
.main-image:hover{
    cursor: pointer;
}

.title{
    display: inline-block;
    color: var(--white);
    margin-top: 10px;
}
.title:hover{
    color: var(--cyan);
    cursor: pointer;
}
.detail,.coin-timer-text{
    color:var(--soft-blue);
}

.balance{
    display: flex;
    justify-content: space-between;
}
.coin-timer,.coin-balance{
    display: flex;
    width: 90px;
}
.coin-balance-text{
    color: var(--cyan);
}
.balance-text{
    margin-left: 7px;
}

.creator{
    display: flex;
    align-items: center;

}
.creator-img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
    
}

.creator-detail{
    text-decoration: none;
    color: var(--white);
}
.creator-detail:hover{
    color: var(--cyan);
    cursor: pointer;
}

#hr{
    opacity: .5;
    width: 100%;
    height: 1px;
    background-color: var(--soft-blue);
}
.attribution { color:white;font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }